<button  mat-flat-button color="Warn" (click)="showModal()" class="my-header-btn my-login-btn">login</button>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Login" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixUser">
          <input type="text" [(ngModel)]="email" name="email" nz-input formControlName="userName" placeholder="email">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">Please input your username!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixLock">
          <input  [(ngModel)]="password" name="password" type="password" nz-input formControlName="password" placeholder="Password">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input your Password!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
        <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
        <button nz-button  (click)="login()"  class="login-form-button" [nzType]="'primary'">Log in</button>
        Or
        <a href="">register now!</a>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
  <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>

</nz-modal>
