<div class="container MYcontainer">

  <div class="row first-section">
    <div class=" col-6 landingpage-left">
            <h1>Organise your life</h1>
            <h2>then enjoy it...  </h2>
          <p>Life can sometimes seem overwhelming, but it does not have to be the <br>
                         case. With Note IT, you keep everything in one place, to do what <br>
                          you want and enjoy more peace of mind along the way. </p>
            <div class="my-header-btn">
              <app-register ></app-register>
            </div>
    </div>

    <div class=" col-6 my-landingpage-right">
      <img class="my-img" src="https://d3ptyyxy2at9ui.cloudfront.net/illo-organized-life-a11f87.png" alt="">
    </div>

  </div>

  <div class="row second-section">
      <div class="col-6 ">
          <img class="my-img" src="https://d3ptyyxy2at9ui.cloudfront.net/illo-remember-d31285.png" alt="">
        </div>
        <div class="col-6 my-second-section-paragraphe">

          <h1 class="my-second-section-title">Never forget an important task.</h1>

          <p>Let NoteIt remember everything. Free your mind <br>
              using NoteIt to manage your tasks at any time,<br>
              everywhere, and on any device - even offline.
          </p>

        </div>

  </div>
  <div class="row third-section">
    <h1>Free your mind with NoteIt</h1>
    <div class="my-header-btn">
        <app-register ></app-register>
      </div>
  </div>

  </div>
