
.MYcontainer{

  margin-top: 3em;
  margin-left: 3em;
}
.landingpage-left{
  margin-top: 5em;
}
.landingpage-left h1{
  color: white;
}
.landingpage-left h2{
  color: #e44232;
}
.landingpage-left p{
  color: white;
}
.landingpage-left button{
  margin-top: 2em;
  margin-left: 12em;
  font-size: 24px;
  height: 3em;
  background-color: #e44232;

}
.my-img{
  width: 623px;

}
.second-section{
  margin-top: 8em;
}
.my-second-section-paragraphe{
    padding: 6em ;
}
.my-second-section-paragraphe h1{
color: white;
}
.my-second-section-paragraphe p{
  color: white;
  }
.third-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15em;
  
}
.third-section h1{
  color:white;
}
