<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item *ngFor="let control of controlArray;let i = index">
    <nz-form-control [nzXs]="24" [nzSm]="20" [nzOffset]="i==0?0:4">
      <input nz-input style="width: 60%; margin-right:8px;" placeholder="write a task" [attr.id]="control.id" [formControlName]="control.controlInstance">
      <i nz-icon type="minus-circle-o" class="dynamic-delete-button" (click)="removeField(control,$event)"></i>
      <nz-form-explain *ngIf="getFormControl(control.controlInstance)?.dirty&&getFormControl(control.controlInstance)?.hasError('required')">
        Please input a task or delete this field.
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzXs]="{span:24,offset:0}" [nzSm]="{span:20,offset:4}">
      <button nz-button nzType="dashed" style="width:60%" (click)="addField($event)"><i nz-icon type="plus"></i> Add Task</button>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

  </nz-form-item>
</form>
