.myicon{
  color: yellow;
}
.my-header-elements{
  display: flex;
  justify-content: space-between;
  background-color: #6A0CE8;
}
.my-header-buttons{
  display: flex;
  padding: 1em;
}
.my-signup-btn{
  background-color: whitesmoke;
  color: black;
}
.my-header-btn
{
  margin-right: 5% ;

}
a:link {
  text-decoration: none;
  color: white;
}
.my-logo-text{
  color: white;
}
.my-routing-btn{
  color: white;
}
.my-register-btw{
  margin-right: 5%;
}
